.formdiv    {
  width: 1000px;
  height: 100vh;
  flex:1;
  margin: 2px;
  background-color: green;
  display:flex;
  justify-content: space-evenly;
  flex-direction: column-reverse;
  font-size: 20px;
  box-sizing: content-box;
  padding:5px;
  align-items:center;
}



h2, h1 {
  color:white;
}
